<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>{% block title %}i音乐{% endblock %}</title>
	<style type="text/css">
		* {
			margin: 0;
			padding: 0;
			/* color: #eee; */
		}

		body {
			background: #555;
		}

		.head {
			height: 100px;
			background: #DEE2E2;
		}

		h1 {
			height: 100px;
			line-height: 100px;
			text-align: center;
			color: #C02323;
		}
	</style>
	{% block links %}{% endblock %}
</head>

<body>
	<div class="head">
		<h1>后台管理系统</h1>
	</div>
	{% block content %}{% endblock %}
</body>

</html>