{% extends './layout.html' %}

{% block title %}i音乐-后台管理系统{% endblock %}
{% block links %}
	<link rel="stylesheet" type="text/css" href="/css/index.css">
{% endblock %}
{% block content %}
    <p style="color:red;">{{ error }}</p>
    <div style="width:400px;margin:0 auto;">
        <h3>管理员登录</h3>
        <form action="/admin/login" method="post">
            <label for="">姓名</label><input type="text" name="adminName" id="" /><br/>
            <label for="">密码</label><input type="password" name="adminPwd" id="" /><br/>
            <input type="submit" value="登录" />
        </form>
    </div>
{% endblock %}